.photo-column{
    background-color: lightgoldenrodyellow;
    height:900px;
}

#photo-gallary{
    background-color: aliceblue;
    height:900px;
    width: 100%;
	display: flex;
	flex-direction: column;
}
.photo-sm{
    width:100%;
    height: 380px;
    background-color: rgb(221,200,190);
    margin-top: 20px;
    overflow: hidden;
    background-position: center;
}
.photo-big{
    width:100%;
    height: 480px;
    background-color: rgb(158,200,190);
    margin-top: 20px;
    overflow: hidden;
}
@media(min-width:575.98px){
    .video{
        margin-top: 20px;
        width: 100%;
        height: 400px;
    }
}
@media(min-width:767.98px){
    .video{
        margin-top: 20px;
        width: 100%;
        height: 600px;
    }
}
@media(min-width:991.98px){
    .video{
        margin-top: 20px;
        width: 100%;
        height: 800px;
    }
}